@page "/"

<PageTitle>Index</PageTitle>
<section class="grid">
  <article></article>
  <article></article>
  <article></article>
  <article></article>
  <article></article>
  <article></article>
  <article></article>
  <article></article>
</section>