
<NavLink  href="@Link" title="@(IsCollapsed?Title:"")">

    <i class="fa-lg fa-regular fa-@Icon.ToLower()"></i>
    <span>@Title</span>
</NavLink>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Link { get; set; }
    [Parameter] public bool IsCollapsed { get; set; }
}
